
<!DOCTYPE HTML>
<html>
<head>
    <title>Excuses For U</title>
    <meta name="keywords" content="Excuses, Reasons, Lies, Fibs, Blame, Justifications" />
    <meta name="description" content="Any Excuses For Anything Anyone" />
    <style type="text/css">
        * {margin: 0;} 
        html, body {height: 100%; background-color: #000;} 
        .wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -8em; width: 80%;} 
        .footer, .push {height: 8em;}
    </style>
</head>
<body>
    <div class="wrapper">
        <center style="color: #fff; padding-top: 200px; font-family: Courier; font-size: 60px; font-weight: bold;">
            <a href="/" rel="nofollow" style="text-decoration: none; color: #fff;">{{current_excuse}}</a>
        </center>
            <a href="/" rel="nofollow" style="float:right; font-family: Courier; font-size: 20px; text-decoration: none; color: #fff;">{{current_excuse_provider}}</a>
    </div>
    <div class="footer">
     <center style="color: #333; font-family: Courier; font-size: 24px; font-weight: bold;">
        <a href="/add" rel="nofollow" style="text-decoration: none; color: #fff;">Add Your Excuses</a>
     </center>
    </div>
</body>
</html>